.form-container {
    width: 500px;
    margin: 0 auto;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 10px 0px 10px rgba(255, 224, 179, 1);
}

.form-title {
    color: #2A414f;
    font-size: 35px;
    font-weight: 400;
    text-align: center;
}

.input-group {
    margin-bottom: 25px;
}

.input-group label {
    display: block;
    margin-left: 8px;
    margin-bottom: 5px;
    font-size: 18px;
}

.input-group input {
    width: 415px;
    height: 55px;
    border: 1px solid #95A0A7;
    box-sizing: border-box;
    border-radius: 8px;
    font-size: 24px;
}

.form-submit {
    width: 415px;
    height: 55px;
    border: none;
    background-color: rgba(255, 155, 0, 0.3);
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 10px;
}

.form-submit:hover {
    background-color: rgba(255, 155, 0, 0.9);
}

.form-link {
    color: #FF9900;
    text-decoration: none;
}
.form-container p{
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-line {
    display: flex;
    margin-top: 10px;
}

.form-hr {
    width: 48%;
}

.form-google {
    width: 415px;
    height: 55px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    border: 1px solid gray;
    align-items: center;
    margin: 15px 0;
    cursor: pointer;
}

.form-google:hover {
    border: 2px solid gray;
}

.form-icon {
    font-size: 35px;
    margin-right: 5px;
}